html
 head
  title ADD STUDENT
 body
  form(action="/addStudent" method="POST")
   p Name:
    input(type ="text" name="name")
   p Garde:
    select(name='grade_id')
     each grade in grades
      option(value='#{grade.id}') #{grade.name}
   p 
   input(type="submit" value ="Add")